# Composer
/composer.phar
/composer.lock
/vendor/

# PHPUnit
/coverage.xml
/phpunit.xml
/.phpunit.result.cache
/tests/docker/php72/wait-for.sh
/tests/docker/php73/wait-for.sh
/tests/docker/php74/wait-for.sh
