# Backups
*~
*.DS_Store
*.out
*.so
*.swp

# Logs
logs
*.log

# Composer
/composer.phar
/composer.lock
/vendor/

# PhpStorm
/.idea/

# PHPUnit
/coverage.xml
/phpunit.xml
/tests/docker/php72/wait-for.sh
/tests/docker/php73/wait-for.sh
/tests/docker/php74/wait-for.sh

# Git
!.gitkeep
/.phpunit.result.cache
