# Composer
/composer.phar
/composer.lock
/vendor/

# PHPUnit
/coverage.xml
/.phpunit.result.cache
/tests/environment.php

# Tools local config
/phpunit.xml
/phpcs.xml.dist
/phpstan.neon

# Docker
.github/workflows/docker/php*/*.sh

# Adding a folder to put things temporarily
temp/

# IDE
.idea/
