<?xml version="1.0"?>
<ruleset
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/PHPCSStandards/PHP_CodeSniffer/master/phpcs.xsd"
    name="Wonolog"
>

    <!-- Report warnings, but return zero exit code. -->
    <config name="ignore_warnings_on_exit" value="1" />

    <!-- Check for cross-version support for PHP 8.1 and higher. -->
    <config name="testVersion" value="8.1-" />

    <file>./inc</file>
    <file>./src</file>
    <file>./tests</file>

    <!-- Use colors, and show sniff error codes and progress. -->
    <arg name="colors" />
    <arg value="sp" />

    <rule ref="Syde-Extra" />

    <rule ref="SlevomatCodingStandard.Files.TypeNameMatchesFileName">
        <properties>
            <property name="rootNamespaces" type="array">
                <element key="src" value="Inpsyde\Wonolog" />
                <element key="tests/integration" value="Inpsyde\Wonolog\Tests\Integration" />
                <element key="tests/src" value="Inpsyde\Wonolog\Tests" />
                <element key="tests/unit" value="Inpsyde\Wonolog\Tests\Unit" />
            </property>
        </properties>
    </rule>

    <rule ref="WordPress.Security.EscapeOutput.ExceptionNotEscaped">
        <exclude-pattern>/tests/*</exclude-pattern>
    </rule>
    <rule ref="WordPress.WP.AlternativeFunctions">
        <exclude-pattern>/tests/*</exclude-pattern>
    </rule>
    <rule ref="Squiz.PHP.Eval.Discouraged">
        <exclude-pattern>/tests/*</exclude-pattern>
    </rule>
    <rule ref="Syde.Functions.FunctionLength">
        <exclude-pattern>/tests/*</exclude-pattern>
    </rule>
    <rule ref="WordPress.PHP.DevelopmentFunctions">
        <exclude-pattern>/tests/*</exclude-pattern>
    </rule>
    <rule ref="WordPress.PHP.NoSilencedErrors">
        <exclude-pattern>/tests/*</exclude-pattern>
    </rule>
    <rule ref="WordPress.PHP.DiscouragedPHPFunctions">
        <exclude-pattern>/tests/*</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.Classes.ForbiddenPublicProperty">
        <exclude-pattern>/tests/*</exclude-pattern>
    </rule>
    <rule ref="Squiz.Classes.ValidClassName.NotCamelCaps">
        <exclude-pattern>/tests/stubs/*</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.Files.TypeNameMatchesFileName">
        <exclude-pattern>/tests/stubs/*</exclude-pattern>
    </rule>

</ruleset>
