includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/swissspidy/phpstan-no-private/rules.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
parameters:
    level: 10
    excludePaths:
      - src/HookListener/MethodNamesByHookTrait.php
      - src/HookListener/FilterFromUpdateTrait.php
    scanFiles:
        - vendor/inpsyde/wp-stubs-versions/latest.php
    scanDirectories:
        - vendor/roots/wordpress-no-content/wp-includes/PHPMailer
        - tests/stubs
    paths:
        - src/
        - inc/
        - tests/
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#has invalid return type Monolog\\LogRecord#'
        - '#has invalid type Monolog\\LogRecord#'
        - '#(c|C)lass Monolog\\LogRecord not found#'
        - '#(c|C)lass Monolog\\Level not found#'
        - '#unknown class Monolog\\LogRecord#'
        - '#unknown class Monolog\\Level#'
        - '#\$extra on array|Monolog\\LogRecord#'
