name: PHP quality assurance
on: [push]
jobs:
    build:
        runs-on: ubuntu-latest
        if: "!contains(github.event.head_commit.message, 'ci skip')"
        strategy:
            matrix:
                php-versions: ['7.2', '7.3', '7.4']
        steps:
            -   uses: actions/checkout@v2

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-versions }}

            -   name: Analysing source code
                run: find ./src/ ./tests/ -type f -name '*.php' -print0 | xargs -0 -L 1 -P 4 -- php -l

            -   name: Install dependencies
                run: composer install -q -n -a --no-progress --prefer-dist

            -   name: Check code styles
                run: composer cs

            -   name: Check Psalm
                run: composer psalm

            -   name: Run unit tests
                run: composer tests:unit:no-cov
